
<h2>---------------------------------<%= link_to "Sign out ?", signout_path %>---------- <h/2>
 
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    
      <% if !user.admin? %>  
     <li>
      <%= link_to user.name, user %>
	 | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
	                                :title => "Delete #{user.name}" %>
	<%end%>
	
    </li>
  <% end %>
</ul>

