
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      
	  <br /> <a href=  /signout> <strong>Sign out? <strong></a>
    </td>
  </tr>
</table>
